<section class = "products">
    
    {{#if user}}
    <a href="/products/add">Add product</a>
    {{/if}}

    <div class = "productsgrid">
        {{#each product}}
        <div class = "imgbox">
            <img src="{{this.img}}" alt="product">
            <p>{{this.title}} <br> <span class="price">{{this.price}} </span><br></p>
        </div>
        {{/each}}
    </div>
</section>