<section class = "formspace">
    <form action="/user/login" method="POST" name="signin">
    <br>
        <span class="formheading">Sign In</span><br><br>

        {{#each errorsLogin}}<div class="error">{{this}}</div>{{/each}} <br>

        <label for="email">Email</label> <br>
        <input type="email" id = "email" value="{{form.emailholder}}" name="email"> <br>
        <div class="error">{{errors.[0]}}</div> <br>
        
        <label for="password">Password</label> <br>
        <input type="password" id = "password" placeholder="At least 6 characters" name="password"> <br> <br>
        <div class="error">{{errors.[1]}}</div>

        <input type="submit" value = "Sign In">
    </form>
</section>